name: Build

on:
  push:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: oven-sh/setup-bun@v2.0.2
      - run: bun install --frozen-lockfile
      - run: bun biome ci
      - run: bunx cn-font-split i default
      - run: bun run build
      # Since Bun does not currently support publishing npm packages via OIDC;
      # as a workaround, use NPM proceed with the publishing.
      - run: bun npm publish --provenance
        if: github.ref_type == 'tag'
