name: Build

on:
  push:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: oven-sh/setup-bun@v2.0.2
      - run: bun install
      - run: bun biome ci
      - run: bunx cn-font-split i x86_64-unknown-linux-gnu
      - run: bun run build
      - run: bun pm pack
      - run: bunx npm publish ./*.tgz --provenance
        if: github.ref_type == 'tag'
