name: Build

on:
  push:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: oven-sh/setup-bun@v2.1.0
      - run: bun install
      - run: bun biome ci
      - run: bunx cn-font-split i x86_64-unknown-linux-gnu
      - run: bun run build
      - run: bun pm pack
      # Since Bun does not currently support publishing npm packages via OIDC;
      # as a workaround, install Node.js to proceed with the publishing.
      - uses: actions/setup-node@v6.1.0
        if: github.ref_type == 'tag'
      - run: npm publish ./*.tgz --provenance
        if: github.ref_type == 'tag'
